* {
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("image/background.gif");
}

/* CONTAINER */
.container {
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;

    display: grid;
    gap: 5px;
    grid-template-columns: auto;
    grid-template-rows: 70px 50px auto auto;
    grid-template-areas: 
    'gHead'
    'gNav'
    'gContent'
    'gFoot';
}

/* .container > div {
    border: 1px solid red;
} */

/* HEADER */
.head {
    grid-area: gHead;
    background-color: #182e49;
    padding: 5px 10px;
    border-radius: 5px;
}

.head .head-left {
    float: left;
}

.head .head-left a {
    text-decoration: none;
}

.head .head-left .logo {
    position: relative;
    top: 5px;
    left: 10px;
}

.head .head-left .name {
    position: relative;
    top: 5px;
    left: 10px;
}

.head .head-right .head-icon {
    padding: 5px 20px;
    float: right;
}

.head .head-right .head-icon a {
    text-decoration: none;
}

.head .head-right .head-icon a:hover p {
    text-shadow: 0px 0px 5px;
    color: cyan;
}

.head .head-right .head-icon p {
    color: white;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin: 0px 0px;
}

/* NAVIGATION BAR */
.nav {
    grid-area: gNav;
    background-color: #a18c5c;
    border-radius: 5px;
}

.search-box {
    margin: 7px 0px;
    width: 22%;
    float: left;
}

.search-box > input {
    width: 75%;
    height: 35px;
    border-radius: 10px;
    padding: 6px;
    margin-left: 10px;
    border: 1px solid #3f1d0b;
    color: black;
}

.search-box > button {
    width: 17%;
    height: 30px;
    border-radius: 10px;
    position: relative;
    right: 19.5%;
    background-color: white;
}

.search-box > button i {
    color: black;
}

.search-box > button:hover {
    background-color: #234165;
    transition: all 0.3s;
}

.search-box > button:hover i {
    color: white;
    transition: all 0.3s;
}

.menu {
    float: left;
    padding: 10px 0;
    position: relative;
    z-index: 1;
    width: 78%;
}

.menu > ul {
    height: 30px;
    padding: 0;
    width: 100%;
}

.menu ul li {
    list-style-type: none;
    /* width: 150px; */
    width: 16%;
    margin-left: 0.3%;
    float: left;
    font-size: 12px;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    background-color: #E1D4BB;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 0px 25px;
    line-height: 30px;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.6s;
}

.menu ul li a:hover {
    background-color: #fff6e7;
    font-size: 14px;
    transition: all 0.2s;
}

.menu ul li:hover .submenu {
    display: block;
}

.menu ul li ul.submenu {
    display: none; 
    padding: 0; 
}

.menu ul li ul.submenu li {
    width: 95%;
    margin: 1px 2.5%;
}

.menu ul li ul.submenu li a {
    font-weight: normal;
    color: black;
    font-size: 12px;
}

.menu ul li ul.submenu li a:hover {
    font-size: 14px;
}

/* CONTENT */
.content {
    grid-area: gContent;
    padding: 15px 0px;
    background-color: #eeeeee;
    border-radius: 10px;
}

.content > div {
    margin: 20px 20px;
}

.shopping-cart > h4 {
    text-align: center;
    font-weight: bold;
}

.shopping-cart > div {
    padding: 10px;
    margin: 10px 40px;
}

.item {
    border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    background-color: white;
    display: flex;
}

.item > div {
    margin: auto;
}

.item > div > p {
    margin: 0;
    font-size: 17px;
}

.item div span {
    color: #ec1f16;
}

.item .index {
    width: 8%;
    text-align: center;
}

.item .image {
    width: 10%;
    width: 200px;
}

.item .image img {
    width: 120px;
    height: 120px;
    margin: 0 15%;
    border-radius: 5px;
}

.item .name {
    width: 24%;
}

.item .price {
    width: 16%;
}

.item .amount {
    width: 22%;
}

.item .total {
    width: 22%;
}

#total-cart p {
    font-size: 18px;
    font-weight: bold;
}

.pay button {
    height: 50px;
    width: 15%;
    font-size: 20px;
    border-radius: 5px;
    background-color: #c4a660;
    transition: all 0.3s;
    float: right;
}

.pay button:hover {
    background-color: #d4c4a7;
}

/* FOOTER */
.foot {
    grid-area: gFoot;
    padding: 15px 5%;
    background-color: #A7D0CD;
    border-radius: 10px;
}

.foot .foot-container {
    display: flex;
}

.foot .foot-container .foot-box {
    padding: 0 10px;
    margin: 0px auto;
    
}

.foot .foot-container .foot-box h6 {
    font-weight: bold;
    color: black;
}

.foot .foot-container .foot-box ul {
    list-style-type: none;
    padding: 0;
}

.foot .foot-container .foot-box ul li {
    margin: 5px 0px;
}

.foot .foot-container .foot-box ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    color: black;
}

.foot .foot-container .foot-box ul li a:hover {
    position: relative;
    left: 5px;
}

#qr {
    margin: auto;
    width: 50%;
}

#qr img {
    border-radius: 5px;
}

.address {
    border-top: 1px solid black;
}

.address p {
    text-align: center;
    font-size: 14px;
    margin: 10px;
    color: black;
}

.address p span {
    color: black;
}
@media screen and (max-width: 1399px) {
    .shopping-cart > div {
        margin: 10px 20px;
    }
    .pay button {
        height: 40px;
        width: 15%;
        font-size: 15px;
    }   
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .container {
        display: grid;
        gap: 5px;
        grid-template-columns: 100%;
        grid-template-rows: 60px 40px auto auto;
        grid-template-areas: 
        'gHead'
        'gNav'
        'gContent'
        'gFoot';
    }
    .head .head-left .logo {
        height: 40px;
    }
    .head .head-left .name {
        height: 17px;
    }
    .head .head-right .head-icon {
        font-size: 12px;
        padding: 5px 15px;
    }
    .head .head-right .head-icon a p.fa {
        font-size: 20px !important;
    }
    .menu {
        padding: 5px 0px;
    }
    .menu ul li {
        font-size: 11px;
    }
    .menu ul li a {
        padding: 0px 10px;
    }
    .menu ul li a:hover {
        font-size: 12px;
    }
    .search-box {
        margin: 5px 0px;
    }
    .search-box > input {
        height: 30px;
        font-size: 12px;
    }
    .search-box > button {
        width: 15%;
        height: 25px;
        font-size: 10px;
    }
    .item p {
        font-size: 15px !important;
    }
    .pay button {
        height: 40px;
        width: 15%;
        font-size: 13px;
    }
}

@media screen and (max-width: 768px) and (min-width: 490px) {
    .container {
        width: 90%;
        display: grid;
        gap: 5px;
        grid-template-columns: 100%;
        grid-template-rows: 50px 40px auto auto;
        grid-template-areas: 
        'gHead'
        'gNav'
        'gContent'
        'gFoot';
    }
    .head .head-left .logo {
        height: 35px;
    }
    .head .head-left .name {
        height: 15px;
    }
    .head .head-right .head-icon {
        padding: 12px 15px;
        font-size: 10px;
    }
    .head .head-right .head-icon a p.fa {
        font-size: 18px !important;
    }
    .head .head-right .head-icon a p.icon-name {
        display: none;
    }
    .search-box {
        margin: 5px 0px;
        display: none;  
    }
    .menu {
        padding: 5px 0;
        width: 100%;
        margin: auto;
    }
    .menu ul li {
        list-style-type: none;
        width: 16%;
        margin-left: 0.5%;
        float: left;
        font-size: 10px;
    }
    .menu ul li a {
        display: block;
        text-decoration: none;
        background-color: #E1D4BB;
        color: black;
        text-align: center;
        font-weight: bold;
        padding: 0px 10px;
        line-height: 30px;
        border-radius: 7px;
        overflow: hidden;
        transition: 0.6s;
    }
    .menu ul li a:hover {
        background-color: #fff6e7;
        font-size: 12px;
        transition: all 0.2s;
    }   
    .menu ul li:hover .submenu {
        display: none;
    }
    .item > div > p {
        font-size: 10px !important;
    }
    .item .index {
        margin-left: 0;
    }
    .item .image {
        width: 100px !important;
    }
    .item .image img {
        width: 60px;
        height: 60px;
        margin: 0 10%;
        border-radius: 5px;
    }
    .foot .foot-container .foot-box {
        padding: 0 5px;
    }
    .foot .foot-container .foot-box h6 {
        font-size: 14px;
    }
    .foot .foot-container .foot-box ul li a {
        font-size: 9px;
    }
    .foot .foot-container .foot-box ion-icon {
        font-size: 9px !important;
    }
    #qr img {
        width: 120%;
    }
    .address p {
        text-align: center;
        font-size: 12px;
        margin: 10px;
        color: black;
    }
    .pay button {
        height: 35px;
        width: 18%;
        font-size: 11px;
    }
}

@media screen and (max-width: 490px) {
    .container {
        width: 90%;
        display: grid;
        gap: 5px;
        grid-template-columns: 100%;
        grid-template-rows: 50px 40px auto auto;
        grid-template-areas: 
        'gHead'
        'gNav'
        'gContent'
        'gFoot';
    }
    .head .head-left .logo {
        height: 30px;
    }
    .head .head-left .name {
        height: 11px;
    }
    .head .head-right .head-icon {
        padding: 10px 10px;
        font-size: 10px;
    }
    .head .head-right .head-icon a p.fa {
        font-size: 18px !important;
    }
    .head .head-right .head-icon a p.icon-name {
        display: none;
    }
    .search-box {
        margin: 5px 0px;
        display: none;  
    }
    .menu {
        padding: 5px 0;
        width: 100%;
        margin: auto;
    }
    .menu ul li {
        list-style-type: none;
        width: 16%;
        margin-left: 0.5%;
        float: left;
        font-size: 8px;
    }
    .menu ul li a {
        display: block;
        text-decoration: none;
        background-color: #E1D4BB;
        color: black;
        text-align: center;
        font-weight: bold;
        padding: 0px 5px;
        line-height: 30px;
        border-radius: 7px;
        overflow: hidden;
        transition: 0.6s;
    }
    .menu ul li a:hover {
        background-color: #fff6e7;
        font-size: 10px;
        transition: all 0.2s;
    }   
    .menu ul li:hover .submenu {
        display: none;
    }
    .left {
        display: none;
    }
    .content > div {
        margin: 0;
    }
    .item > div > p {
        font-size: 8px !important;
    }
    .item .index {
        margin-left: 0;
    }
    .item .image {
        width: 80px !important;
    }
    .item .image img {
        width: 50px;
        height: 50px;
        margin: 0 10%;
        border-radius: 5px;
    }
    #total-cart p {
        font-size: 16px;
        font-weight: bold;
    }
    .pay button {
        font-size: 10px;
    }
    .foot .foot-container .foot-box {
        padding: 0 5px;
    }
    .foot .foot-container .foot-box h6 {
        font-size: 10px;
    }
    .foot .foot-container .foot-box ul li a {
        font-size: 7px;
    }
    .foot .foot-container .foot-box ion-icon {
        font-size: 7px !important;
    }
    .address p {
        text-align: center;
        font-size: 10px;
        margin: 5px;
        color: black;
    }
}